.container{
   width: 350px;
   margin: 0 auto;
   margin-top: 70px;
}

h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:rgb(48, 48, 222);
    margin-bottom: 50px;
}

.header{
    width: 100%;
    height: 27px;
    display: flex;
    justify-content: space-between;
}

.header input{
    width: 180px
}

.header button{
    background-color: rgb(25, 189, 25);
    border: none;
    cursor: pointer;
    color: white;
}

.row{
    width: 330;
    height: 22px;
    position: relative;
    line-height: 22px;
    border: 1px solid gray;
    margin-top: 5px;
    
}

.completed{
    text-decoration: line-through rgb(48, 48, 222);
}

.row button{
    background-color: red;
    color: white;
    border-radius: none;
    border: none;
    cursor: pointer;
}

.btnDelOne{
    position: absolute;
    right: 0;
    height: 100%;
}